.splash {
  & .no-matter-what {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 40, 0) 0%,
        rgba(0, 0, 40, 0.4) 50%,
        rgba(0, 0, 40, 1) 100%
      ),
      url(asset_path('tina-witherspoon-ePu9rM_ud7g-unsplash.jpg'));
    height: calc(100vh - 5rem - 2.5rem);
    object-fit: contain;
    background-position: 10% 44%;
    text-align: center;

    & .headline {
      color: var(--powder-blue);
      text-shadow: 0 0 15px var(--off-black);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & h1,
      h2,
      h3 {
        padding: 0 1em;
      }

      & h1 {
        line-height: 0.9;
        font-size: 10vh;
      }
      & h2 {
        font-size: 5vh;
      }

      & .bullet-points {
        line-height: 0.5;
        font-size: 3vh;
      }
    }
  }
  & .main-points {
    background-color: var(--off-black);
    color: var(--background-white);
    min-height: 400px;
  }
}
