/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --default-font-family: 'Roboto';
  --header-font-family: 'Titillium Web';
  --monospace-font-family: 'Roboto Mono';
  --main-blue: #005cb9;
  --call-to-action-blue: #006ff9;
  --bright-blue: #0bc6ff;
  --teal: #277cb2;
  --dark-blue: #000028;
  --powder-blue: #e1f4f8;
  --lime-green: #d6fb00;
  --green: #00ee00;
  --success-green: #007831;
  --pink: #ff3bdd;
  --yellow: #f6b610;
  --dark-yellow: #e1a205;
  --yellow-hover: #1951b8;
  --gray: #737373;
  --light-gray: #bebfc0;
  --lighter-gray: #f4f4f4;
  --background-white: #fcfcfc;
  --background-white-rgb: 252, 252, 252;
  --off-black: #1e1e1e;
  --box-shadow-1: 0px 3px 4px -1px var(--gray);
  --rounded-corners: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family), Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  font-family: var(--default-font-family), Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: var(--background-white);
  color: var(--off-black);
}

code,
kbd,
pre,
samp {
  font-family: var(--monospace-font-family), monospace;
}

a {
  text-decoration: none;
  &.inline-link {
    margin: 0 1rem;
  }

  &:visited.inline-link {
    // color: inherit;
  }
}

button,
a.a-as-button {
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  box-shadow: var(--box-shadow-1);

  &:hover {
    background-color: var(--yellow);
  }

  &.flat {
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  &.warn {
    background-color: transparent;
    font-weight: lighter;
    color: var(--gray);
    &:hover {
      color: red;
    }
  }

  & a {
    color: inherit;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
  &[aria-pressed='true'] {
    box-shadow: none;
  }
}

label {
  margin-bottom: 1rem;

  & > input {
    margin-top: 0.5rem;
  }
}

input {
  height: 2rem;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  padding: 0 0.5rem;

  // &:invalid {
  //   border: 1px solid red;
  // }
}

header {
  position: sticky;
  -webkit-position: sticky;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--lighter-gray);

  top: -16px; /* negative top allows for 16 pixels of movement before sticking */
  z-index: 1;

  // box-shadow: 0px 2px 4px #2225;
  /* fix weird flickering issue in chrome: https://stackoverflow.com/a/22224884/286685 */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* PSEUDO ELEMENTS to create drop-shadow */
header::before,
header::after {
  content: '';
  display: block;
  height: 16px;
  /* make pseudo elements sticky as well */
  position: sticky;
  -webkit-position: sticky;
  background-color: var(--background-white);
}

/* SHADOW */
header::before {
  top: 48px; /* shadow is at bottom of element, so at 48 + 16 = 64px */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* COVER */
// header::after {
//   /* linear gradient from background color to transparent acts as
//      a transition effect so the shadow appears gradually */
//   // background: linear-gradient(
//   //   var(--background-white) 10%,
//   //   rgba(var(--background-white-rgb), 0.8) 50%,
//   //   rgba(var(--background-white-rgb), 0.4) 70%,
//   //   transparent
//   // );
//   top: 0;
//   /* cover should fall over shadow */
//   z-index: 2;
// }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-content: baseline;
  height: 64px;
  position: sticky;
  -webkit-position: sticky;
  top: 0px;
  /* compensate for shadow with negative margin */
  margin-top: -16px;
  /* content should fall over shadow and cover */
  z-index: 3;
  background: var(--background-white);

  & h1 {
    & a,
    & a:visited,
    & a:hover,
    & a:active {
      color: inherit;
    }
  }
}

main {
  width: 80%;
  margin: auto;
}

// footer {
//   background: #ffab62;
//   width: 100%;
//   height: 100px;
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4rem; /* Footer height + space */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  border-top: 1px solid var(--lighter-gray);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  height: 100%;
  margin: 0;

  & li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  & a {
    display: block;
    height: 100%;
    margin: 0;
    padding: 24px 10px;
    background: transparent;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: rgba(240, 240, 240, 0.61);
      border-bottom: 2px solid lightgray;
    }
  }

  & button.signout {
    padding: 1rem 0.5rem;
    margin: 0 0.5rem;
  }
}

.session-form {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & button[name='demoBtn'] {
    margin-top: 1rem;
    font-size: 90%;
    color: darkgray;
    opacity: 0.9;
    background: var(--background-white);
    &:hover {
      background: var(--powder-blue);
      color: var(--dark-blue);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web', 'Roboto';
  text-align: left;

  & button {
    padding: 0.5rem 1rem;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
    width: 100%;
    box-shadow: var(--box-shadow-1);
    &:hover {
      background: var(--dark-yellow);
    }
  }

  & button[type='submit'] {
    background: var(--yellow);
    &:hover {
      background: var(--dark-yellow);
    }
  }

  & .footer-links {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      margin: 10px 0 0 0;
    }
  }
}

.errors-list,
.password-helper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  color: darkred;
}

.error {
  color: darkred;
}

.helper-text {
  font-size: 0.8rem;
  margin: 0 1rem;
  margin: -0.75rem 0 1rem 1rem;

  & p {
    margin-bottom: -0.5rem;
  }
}

li.no-pointer {
  cursor: default;
}

.z1 {
  z-index: 1;
}

.background-gradient {
  height: 250px;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 91, 182);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 91, 182, 1) 0%,
    rgba(75, 154, 175, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 91, 182, 1) 0%,
    rgba(75, 154, 175, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(0, 91, 182, 1) 0%,
    rgba(75, 154, 175, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005bb6",endColorstr="#4b9aaf",GradientType=1);
}

.flex-col-container {
  display: flex;
  flex-direction: column;
}
.flex-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.flex-between-center {
  justify-content: space-between;
  align-items: center;
}

.flex-between-baseline {
  justify-content: space-between;
  align-items: baseline;
}

.flex-center {
  justify-content: center;
  align-items: baseline;
}

.flex-item {
  flex: 1 0;
  width: 100%;
  display: block;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-item-left {
  flex: 1;
  text-align: left;
}

.flex-item-right {
  flex: 1;
  text-align: right;
}

.card {
  background-color: var(--background-white);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--rounded-corners);
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

ul.docs-index {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1rem;
  padding: 0;

  & .linkable-card {
    // stolen from https://github.com/twbs/bootstrap/issues/18294
    position: relative;
    flex: 1 0 250px;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    background-color: var(--background-white);
    box-shadow: var(--box-shadow-1);
    border-radius: var(--rounded-corners);

    & a.card-link {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;

      &:hover ~ .card-title {
        text-decoration: underline;
      }
    }
    .card-image,
    .card-title,
    .card-actions,
    .card-body {
      pointer-events: none; /* IMPORTANT! Lets clicks fall through */
      position: relative;
      z-index: 10; /* IMPORTANT! Makes actual content be on top of linked card */

      button,
      a {
        pointer-events: auto; /* IMPORTANT! ... Except for buttons and links that should be clickable */
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.doc-show {
  & h1,
  & h2,
  & h3 {
    margin-bottom: 0;
  }

  & .doc-show-header {
    padding: 1rem;
    border-bottom: 1px solid var(--light-gray);

    & h2 {
      margin: 0 0 0.5rem 0;
    }

    & p {
      font-size: 80%;
      margin: 0.25rem 0 0 0;
      color: var(--gray);
      font-weight: lighter;
    }

    & button.flat {
      margin-left: 0;
    }

    & div:last-child {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  & .doc-show-recipients {
    & h3 {
      margin-bottom: 1rem;
    }

    & .doc-show-recipients-grid {
      display: grid;
      grid-template-columns: 50px 50px 3fr 50px 1fr;

      & > div:nth-child(1n) {
        border-bottom: 1px solid var(--light-gray);
        padding: 1rem 0;
      }

      & .grid-row-user p {
        margin: 0.25rem 0 0 0;
        font-size: 80%;
        color: var(--gray);
      }
    }
  }

  & .doc-show-pdf-sidebar {
    //
  }

  & .pdf-document-container {
    & .pages-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
    }

    & .card {
      height: 792px;
      width: 612px;
      display: block;
      user-select: none;
      z-index: -1;
      border: 1px solid #ddd;
      border-radius: 0;
      box-shadow: 0px 1px 2px 0px #ccc;
    }

    & .react-pdf__Document {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      & .react-pdf__Page {
        border: 1px solid #ddd;
        border-radius: 0;
        box-shadow: 0px 1px 2px 0px #ccc;
      }
    }
  }

  & .doc-attr-key {
    min-width: 200px;
    max-width: 200px;
    margin: 0 2rem;
  }

  & .doc-details-grid {
    display: grid;
    grid-template-columns: 200px auto 1fr;
    gap: 1rem;
    justify-content: center;

    & > * {
      margin-top: 0;
    }

    & .doc-attr-key {
      min-width: 200px;
      text-align: right;
    }

    & .doc-attr-value {
      grid-column: 2/-1;
    }
  }

  & .doc-button-bar,
  & .doc-details-title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  & .doc-button-bar {
    & > button,
    & > a {
      margin: 1rem 0;
      padding: 0;
    }
  }
}

.small {
  font-size: 70%;
  & a,
  & a:visited {
    color: #999;

    &:hover {
      text-decoration: underline 1px dotted;
    }
  }
}

.index-container {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  height: calc(100% - 80px - 4rem);
}

.index-sidebar {
  // color: rgb(77, 77, 77);
  height: 100%;
  background-color: var(--lighter-gray);
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    width: calc(220px - 2rem);
    box-sizing: border-box;
    font-size: 80%;
    color: inherit;
    padding: 0.5rem 1rem;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
    background-color: var(--yellow);
    text-align: center;

    &:hover {
      background-color: var(--dark-yellow);
    }
    &:visted {
      color: inherit;
    }
  }
}

.index-inbox {
  position: fixed;
  left: 220px;
  top: 80px;
  padding: 1rem 0;
  width: 100%;

  & .search-bar {
    max-height: 80px;
  }

  & h2 {
    margin-top: 0;
    margin-left: 1rem;
  }

  & .docs-index {
    display: grid;
    grid-template-columns: 50px minmax(200px, auto) 1fr 1fr minmax(100px, auto);
    grid-auto-flow: row;
    grid-gap: 1rem 0;
    width: 100%;

    & .docs-index-header {
      grid-column: 1/-1;
      border-top: 1px solid var(--lighter-gray);
      border-bottom: 1px solid var(--lighter-gray);
      padding: 0.5rem 0;
      font-weight: bold;

      &:nth-child(1n) {
        padding: 0.5rem 0;
      }

      &:nth-child(1) {
        grid-column: 1/2;
        padding-left: 0;
      }
      &:nth-child(2) {
        grid-column: 2/3;
      }
      &:nth-child(3) {
        grid-column: 3/4;
      }
      &:nth-child(4) {
        grid-column: 4/5;
      }
      &:nth-child(5) {
        grid-column: 5/6;
      }

      & div {
        padding: 0.5rem;
      }
    }

    & .docs-index-subject {
      display: flex;
      flex-direction: column;
      padding-right: 1rem;
      line-height: 1.3;

      & a,
      & .docs-index-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: inherit;

        &:visited {
          color: inherit;
        }
        &:hover {
          color: var(--main-blue);
        }
      }

      & .docs-index-recipients,
      & .docs-index-owner {
        color: var(--light-gray);
        font-size: 90%;
      }
    }
    & > div {
      padding: 0.5rem 0;
      border-bottom: 1px solid var(--lighter-gray);
    }
  }
}
