:root {
  --default-font-family: 'Roboto';
  --header-font-family: 'Titillium Web';
  --monospace-font-family: 'Roboto Mono';
  --main-blue: #005cb9;
  --dark-main-blue: #004386;
  --call-to-action-blue: #006ff9;
  --call-to-action-blue-rgb: rgb(0,111,249);
  --bright-blue: #0bc6ff;
  --teal: #277cb2;
  --dark-blue: #000028;
  --powder-blue: #e1f4f8;
  --lime-green: #d6fb00;
  --green: #00ee00;
  --success-green: #007831;
  --pink: #ff3bdd;
  --yellow: #f6b610;
  --dark-yellow: #e1a205;
  --yellow-hover: #1951b8;
  --warning-red: #ea1212;
  --gray: #737373;
  --light-gray: #bebfc0;
  --lighter-gray: #f4f4f4;
  --background-white: #fcfcfc;
  --background-white-rgb: 252, 252, 252;
  // --off-black: #1e1e1e;
  --off-black: #000028;
  --off-black-rgb: 0, 0, 40;
  --box-shadow-1: 0px 2px 5px 0px var(--gray);
  --rounded-corners: 4px;
  --footer-padding: 4rem;
  --header-padding: 4rem;
  --transition: transition: 0.1s all ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family), Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  font-family: var(--default-font-family), Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: var(--background-white);
  color: var(--off-black);
}

code,
kbd,
pre,
samp {
  font-family: var(--monospace-font-family), monospace;
}

a {
  text-decoration: none;
  &.inline-link {
    margin: 0 1rem;
  }

  & .disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    display: inline-block; /* For IE11/ MS Edge bug */
    pointer-events: none;
  }
}

button,
a.a-as-button {
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  box-shadow: var(--box-shadow-1);
  transition: var(--transition);

  &:hover {
    background-color: var(--yellow);
  }

  &.flat {
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  &.warn {
    background-color: transparent;
    font-weight: lighter;
    color: var(--gray);
    &:hover {
      color: red;
    }
  }

  & a {
    color: inherit;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
  &[aria-pressed='true'] {
    box-shadow: none;
  }
}

label {
  margin-bottom: 1rem;

  & > input {
    margin-top: 0.5rem;
  }
}

textarea,
input:not([type='radio']) {
  height: 2rem;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

#page-container {
  position: relative;
  min-height: calc(100vh - 80px);
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#spacer {
  margin-top: 80px;
}

main {
  overflow-y: scroll;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web', 'Roboto';
  text-align: left;

  & button {
    padding: 0.5rem 1rem;
    margin: 1rem 0 0 0;
    text-transform: uppercase;
    width: 100%;
    box-shadow: var(--box-shadow-1);
    &:hover {
      background: var(--dark-yellow);
    }
  }

  & button[type='submit'] {
    background: var(--yellow);
    &:hover {
      background: var(--dark-yellow);
    }
  }

  & .footer-links {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      margin: 10px 0 0 0;
    }
  }
}

li.no-pointer {
  cursor: default;
}

.z1 {
  z-index: 1;
}

.card {
  background-color: var(--background-white);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--rounded-corners);
  margin: 1rem;
  padding: 1rem;
  position: relative;
  transition-duration: 0.2s;

  &:hover {
    background-color: #eee;
  }
}

.small {
  font-size: 80%;
  & a,
  & a:visited {
    color: #999;

    &:hover {
      text-decoration: underline 1px dotted;
    }
  }
}

.smallest {
  font-size: 70%;
}


.main-container {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  height: calc(100vh - 7.5rem);
  padding:0 1rem;
}

circle {
  transition: stroke-dashoffset 0.35s;
  transform: translateY(-20%) rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: var(--teal);
}

#footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  border-top: 1px solid var(--lighter-gray);
  background-color: var(--lighter-gray);
  padding-top: 0.5rem;
  box-sizing: border-box;
  box-shadow: var(--box-shadow-1);

  & .footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    font-size: 1.5rem;
    color: var(--dark-main-blue);

    & a {
      margin: 0 1rem;
      color: inherit;
      animation: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
