nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  padding: 0 2rem;
  // width: calc(100% - 4rem);
  // z-index: 3;
  background: var(--background-white);
  z-index: 9999;
  width: 100%;
  box-sizing: border-box;

  & h1 {
    & a,
    & a:visited,
    & a:hover,
    & a:active {
      color: inherit;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    height: 100%;
    margin: 0;

    & > li {
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    & a {
      display: block;
      height: 100%;
      margin: 0;
      padding: 24px 10px;
      background: transparent;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      box-sizing: border-box;

      &:hover {
        background-color: rgba(240, 240, 240, 0.61);
        border-bottom: 2px solid lightgray;
      }
    }

    & .dropdown {
      position: relative;
      display: inline-block;

      &:hover .dropdown-content {
        display: block;
      }

      & .dropbtn {
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 50%;
        border: none;
        background-color: var(--lighter-gray);
      }

      & .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 27px;
        margin-top: -10px;
        list-style: none;
        padding: 0.5rem;
      }
    }

    & button.signout {
      padding: 1rem 0.5rem;
      margin: 0 0.5rem;
    }
  }
}
