nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  padding: 0 2rem;
  // width: calc(100% - 4rem);
  // z-index: 3;
  background: var(--background-white);
  width: 100%;
  box-sizing: border-box;
  box-shadow: var(--box-shadow-1);

  & h1 {
    & a,
    & a:visited,
    & a:hover,
    & a:active {
      color: inherit;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    height: 100%;
    margin: 0;

    & li,
    & a {
      transition-duration: 0.2s;
    }

    & > li {
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;

      & > a {
        display: block;
        height: 100%;
        margin: 0;
        padding: 24px 10px;
        background: transparent;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        box-sizing: border-box;
        border: 3px solid transparent;

        &:hover {
          background-color: rgba(240, 240, 240, 0.61);
          border-bottom: 3px solid lightgray;
        }

        &.active {
          color: var(--main-blue);
          border-bottom: 3px solid var(--main-blue);
          // pointer-events: none;
        }
      }
    }

    & li.dropdown {
      position: relative;
      display: inline-block;

      &:hover .dropdown-content {
        display: block;
      }

      & .dropbtn {
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 50%;
        border: none;
        background-color: var(--lighter-gray);
      }

      & .dropdown-content {
        display: none;
        position: absolute;
        right: 27px;
        margin-top: -10px;
        background-color: var(--lighter-gray);
        box-shadow: var(--box-shadow-1);
        z-index: 2;
        padding: 0;
        min-width: 8rem;
        text-align: center;
        list-style: none;

        & > li {
          padding: 1rem;
          margin: 0;
          color: inherit;

          & > a {
            color: inherit;

            &:visited {
              color: inherit;
            }
          }

          &:hover {
            background-color: var(--teal);
            color: var(--background-white);
          }
        }
      }
    }

    & button.signout {
      padding: 1rem 0.5rem;
      margin: 0 0.5rem;
    }
  }
}

ol.breadcrumbs {
  display: flex;
  margin: 2rem;
  padding: 0;
  list-style: none;
  color: inherit;

  & > li {
    padding: 0 0.5rem;
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-of-type {
      padding-left: 0;

      & a {
        color: inherit;
        &:visited {
          color: inherit;
        }
      }
    }
  }
}
